<section id="formResult">
    <div class="nav">
        <h2 class="logo">Smart Traveler</h2>
        <div class="navOptions">
            <a class="nav-link" href="/submission">SUBMISSIONS</a>
            <a class="nav-link" href="/search">SEARCH</a>
            <a class="nav-link" href="/tripPlanning">FORMS</a>
            <a class="nav-link" href="/">HOME</a>
        </div>
    </div>

    <br>
    <br>
    
    <div class="page-content">
      <div class="row formResultArea">
        <div class="graphArea">
          <img src="/images/graphExample.png">
        </div>
        <div class="budgetArea">
          <h2 class="title">Your planned budget for your trip:</h2>
          <div id="budgetData">
            <h5></h5>
            <p class="budget">heklajkdfl;jkasdl;fjkasdl</p>
          </div>
          <hr>
          <button type="submit" id="startOverButton" class="btn btn-success">Start Over!</button>
          <button type="submit" id="budgetFinishButton" class="btn btn-success">Finish!</button>
        </div>
      </div>


    </div>
    
    <div class="footer">
        <p class="copyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
    </div>

</section>