<div id="home">
  <div class="nav">
        <h2 class="logo">Smart Traveler</h2>
        <div class="navOptions">
            <a class="nav-link" href="/submission">SUBMISSIONS</a>
            <a class="nav-link" href="/search">SEARCH</a>
            <a class="nav-link" href="/tripPlanning">FORMS</a>
            <a class="nav-link" href="/">HOME</a>
        </div>
    </div>

    <br>
    <br>
  
  <div class="page-content">

    <div class="front-page">
      <h1 class="display-4 title"><i class="fas fa-dollar-sign"></i><strong>mart Traveler</strong></h1>
      <p class="description">Budget-friendly App <i class="fas fa-plane-departure"></i> <i class="fas fa-utensils"></i> <i class="fas fa-bed"></i>
        </p>
      <hr class="my-4">
      <p>
        $mart Traveler app is designed to plan and monitor your spending for your upcomming trip/activities. 
      </p>
      <a class="btn btn-primary btn-lg getStarted" href="/tripPlanning" role="button">Get Started</a>
    </div>


  </div>



  <div class="footerArea"></div>

    <div class="footer">
        <p class="homecopyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
    </div>

</div>

</div>


