<div id="home">
  <div class="nav">
        <h2 class="logo">Smart Traveler</h2>
        <div class="navOptions">
            <a class="nav-link" href="#">SUBMISSIONS</a>
            <a class="nav-link" href="/search">SEARCH</a>
            <a class="nav-link" href="/tripPlanning">FORMS</a>
            <a class="nav-link" href="/">HOME</a>
        </div>
    </div>

    <br>
    <br>
  
  <div class="container">

    <div class="front-page">
      <h1 class="display-4 title"><i class="fas fa-dollar-sign"></i><strong>mart Traveler</strong></h1>
      <p class="description">Budget-friendly App <i class="fas fa-plane-departure"></i> <i class="fas fa-utensils"></i> <i class="fas fa-bed"></i>
        </p>
      <hr class="my-4">
      <p>When you're trying to manage travel expenses, $mart Traveler app designed to monitor your spending before, during
        and after your trip can help you avoid spending more than you'd like and make your travel plan easy, convinient and
        budget-friendly!</p>
      <a class="btn btn-primary btn-lg getStarted" href="/tripPlanning" role="button">Get Started</a>
    </div>


  </div>



  <div class="footerArea"></div>

    <div class="footer">
        <p class="homecopyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
    </div>

</div>

</div>


