<section id="submission">
    <div class="nav">
        <h2 class="logo">Smart Traveler</h2>
        <div class="navOptions">
            <a class="nav-link" href="/submission">SUBMISSIONS</a>
            <a class="nav-link" href="/search">SEARCH</a>
            <a class="nav-link" href="/tripPlanning">FORMS</a>
            <a class="nav-link" href="/">HOME</a>
        </div>
    </div>

    <br>
    

    <div class="page-content">
        
    </div>
    



    <div class="footer" align="center">
        <p class="copyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
    </div>

</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/users.js"></script>
