<div id="expenses">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Trip Expenses</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Here are some trips our users submitted!</h2>
            <div id="tripExamples"></div>
        </div>
    </div>

    <div class="row expense">
        <div class="col-md-8 offset-md-2">
            <hr>
            <h2>Next, Plan Your Expenses!</h2>
            <form id="expenseForm">
                <div class="form-group">
                    <label for="plannedCost">How much money are you planning to spend on 
                        <select id="expenseSelect">
                            <option id="food">food</option>
                            <option id="transit">transit</option>
                            <option id="lodging">lodging</option>
                            <option id="other">other</option>
                        </select>    
                    ?</label>
                    <input class="form-control form-control-sm" id="plannedCost" type="text" placeholder="$">
                    <button type="submit" id="expenseFormSubmit" class="btn btn-success">Submit</button>
                </div>
            </form>
            <div id="plannedExpenses">
                
            </div>
        </div>
    </div>

    <div class="footer">

    </div>

</div>