<h1>Trip Info</h1>
<div class="nav">
    <h2 class="logo">Smart Traveler</h2>
    <div class="navOptions">
        <a class="nav-link" href="#">SUBMISSIONS</a>
        <a class="nav-link" href="#">SEARCH</a>
        <a class="nav-link" href="#">FORMS</a>
        <a class="nav-link" href="#">HOME</a>
    </div>
</div>
<div class="accordion" id="accordionExample">
    <style>
        body {
            margin-top: 50px;
            background-image: url(../images/bg2.jpeg)
        }

        h1 {
            color: aqua;
        }
    </style>


</div>

<div class="footer">
    <p class="copyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
</div>