<section id="planning">
    <div class="nav">
        <h2 class="logo">Smart Traveler</h2>
        <div class="navOptions">
            <a class="nav-link" href="#">SUBMISSIONS</a>
            <a class="nav-link" href="/search">SEARCH</a>
            <a class="nav-link" href="/tripPlanning">FORMS</a>
            <a class="nav-link" href="/">HOME</a>
        </div>
    </div>

    <br>
    
    <div class="page-content">
        <div class="row plan">
            <div class="form">
                <h1 class="title">Start your budget plan for your trip.</h1>
                <br>
                <form id="planForm" class="contentFont">
                    <div class="form-group">
                        <label for="nameInput">Your Name:&nbsp;&nbsp; </label>
                        <input class="form-control form-control-lg" id="nameInput" type="text">
                        <br>
                        <label for="cityInput">Destination City:&nbsp;&nbsp;  </label>
                        <input class="form-control form-control-lg" id="cityInput" type="text">
                        <br>
                        <label for="startDate">Start Date:&nbsp;&nbsp;</label>
                        <input type="Date" class="form-control" id="startDate" placeholder="xx/xx/xxxx">
                        <br>
                        <label for="endDate">End Date:&nbsp;&nbsp;</label>
                        <input type="Date" class="form-control" id="endDate" placeholder="xx/xx/xxxx">
                        <hr>
                        <a class="btn btn-primary" id="planFormSubmit" href="/tripPlanningDetails" role="button">Next Page</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    



    <div class="footer">
        <p class="copyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
    </div>

</section>