<div id="planning">
    <div class="nav">
        <h2 class="logo">Smart Traveler</h2>
        <div class="navOptions">
            <a class="nav-link" href="#">SUBMISSIONS</a>
            <a class="nav-link" href="#">SEARCH</a>
            <a class="nav-link" href="#">FORMS</a>
            <a class="nav-link" href="#">HOME</a>
        </div>
    </div>

    <br>
    <br>
    

    <div class="row plan">
        <div class="col-md-8 offset-md-2 form">
            <h3>Enter basic information about your trip!</h3>
            <br>
            <form id="planForm">
                <div class="form-group">
                    <label for="nameInput">Your Name:&nbsp;&nbsp; </label>
                    <input class="form-control form-control-lg" id="nameInput" type="text">
                    <br>
                    <label for="cityInput">Destination City:&nbsp;&nbsp;  </label>
                    <input class="form-control form-control-lg" id="cityInput" type="text">
                    <br>
                    <label for="startDate">Start Date:&nbsp;&nbsp;</label>
                    <input type="Date" class="form-control" id="startDate" placeholder="xx/xx/xxxx">
                    <br>
                    <label for="endDate">End Date:&nbsp;&nbsp;</label>
                    <input type="Date" class="form-control" id="endDate" placeholder="xx/xx/xxxx">
                    <br>
                    <button id="planFormSubmit" class="btn btn-success">Next Page</button>
                </div>
            </form>
        </div>
    </div>

    <div class="footerArea"></div>

    <div class="footer">
        <p class="copyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
    </div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/users.js"></script>