<div id="planning">

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Trip Planning</h1>
            <hr>
        </div>
    </div>

    <div class="row plan">
        <div class="col-md-8 offset-md-2">
            <h2>Start Planning!</h2>
            <form id="planForm">
                <div class="form-group">
                    <label for="nameInput">Your Name:</label>
                    <input class="form-control form-control-lg" id="nameInput" type="text">

                    <label for="cityInput">Destination City:</label>
                    <input class="form-control form-control-lg" id="cityInput" type="text">

                    <label for="startDate">Start Date:</label>
                    <input type="Date" class="form-control" id="startDate" placeholder="xx/xx/xxxx">

                    <label for="endDate">End Date:</label>
                    <input type="Date" class="form-control" id="endDate" placeholder="xx/xx/xxxx">

                    <button type="submit" id="planFormSubmit" class="btn btn-success">Next</button>
                </div>
            </form>
        </div>
    </div>

    <div class="footer">

    </div>

</div>