<div id="planning">

    <div class="nav">
        <h2 class="logo">Smart Traveler</h2>
        <div class="navOptions">
            <a class="nav-link" href="#">SUBMISSIONS</a>
            <a class="nav-link" href="#">SEARCH</a>
            <a class="nav-link" href="#">FORMS</a>
            <a class="nav-link" href="#">HOME</a>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Here are some trips our users submitted!</h2>
            <div id="tripExamples">
                {{#each examples}}
                <li data-id="{{this.id}}" class="list-group-item">
                    <a href="example/{{this.id}}">{{this.name}} {{this.city}}</a>
                    <button class="btn btn-danger float-right delete">ｘ</button>
                </li>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="row expense">
        <div class="col-md-8 offset-md-2">
            <hr>
            <h2>Next, Plan Your Expenses!</h2>
            <br>
            <form id="expenseForm">
                <div class="form-group">
                    <label for="plannedCost">How much money are you planning to spend on
                        <select id="expenseSelect">
                            <option id="food" value="food">food</option>
                            <option id="transit" value="transit">transit</option>
                            <option id="lodging" value="lodging">lodging</option>
                            <option id="other" value="other">other</option>
                        </select>
                        ?</label>
                    <input class="form-control form-control-sm" id="plannedCost" type="text" placeholder="$">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" id="expenseAdd" class="btn btn-success">ADD</button>
                    <br>
                </div>
                <div id="plannedExpenses"></div>
                <hr>
                <button type="submit" id="expenseFormSubmit" class="btn btn-success">Submit Form!</button>
            </form>

        </div>
    </div>

    <div class="footerArea"></div>
    <div class="footer">
        <p class="copyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
    </div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/expenses.js"></script>