<div id="planning">

    <div class="nav">
        <h2 class="logo">Smart Traveler</h2>
        <div class="navOptions">
            <a class="nav-link" href="#">SUBMISSIONS</a>
            <a class="nav-link" href="/search">SEARCH</a>
            <a class="nav-link" href="/tripPlanning">FORMS</a>
            <a class="nav-link" href="/">HOME</a>
        </div>
    </div>

    <br>
    <br>


    <div class="page-content">


        <div class="expense">
            <h2 class="title">&nbsp;Next, Plan Your Expenses!</h2>
            <br>
            <form id="expenseForm">

                <div class="form-group contentFont">
                    <label for="plannedCost">Input your planned spendings by category. (no $ signs)</label>
                    <br>
                    <h6 class="category"><i class="fas fa-utensils"></i>&nbsp;Food:&nbsp;&nbsp;</h6>
                    <input class="form-control form-control-sm" id="plannedCost food" type="text" placeholder="$0">
                    <h6 class="category"><i class="fas fa-hotel"></i>&nbsp;Lodging:&nbsp;&nbsp;</h6>
                    <input class="form-control form-control-sm" id="plannedCost lodging" type="text" placeholder="$0">
                    <h6 class="category"><i class="fas fa-plane-departure"></i>&nbsp;Airfare:&nbsp;&nbsp;</h6>
                    <input class="form-control form-control-sm" id="plannedCost airfare" type="text" placeholder="$0">
                    <h6 class="category"><i class="fas fa-taxi"></i>&nbsp;Transportation:&nbsp;</h6>
                    <input class="form-control form-control-sm" id="plannedCost transportation" type="text" placeholder="$0">
                    <h6 class="category"><i class="fas fa-money-bill-alt"></i>&nbsp;Misc:&nbsp;&nbsp;</h6>
                    <input class="form-control form-control-sm" id="plannedCost misc" type="text" placeholder="$0">
                </div>
                <div id="plannedExpenses">
                    
                </div>
                <hr>
                <button type="submit" id="expenseFormSubmit" class="btn btn-success">Submit Form!</button>
            </form>
        </div>

        <div class="examples">
                <h2 class="title">&nbsp;Some Examples...</h2>
                <div id="tripExamples">
                    
                </div>
        </div>

    </div>
    
    <div class="footer">
        <p class="copyright">&copy; 2018 <i class="fas fa-dollar-sign"></i>mart Traveler</p>
    </div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/expenses.js"></script>